.fade {
  &-enter-from {
    max-height: 0px;
  }
  &-enter-to {
    max-height: calc(var(--test) - 500px);
  }
  &-enter-active {
    transition: all 450ms ease;
  }

  &-leave-from {
    max-height: calc(var(--test) - 500px);
  }
  &-leave-to {
    max-height: 0;
  }
  &-leave-active {
    transition: all 450ms ease;
  }
}
