:root {
  --header-height: 80px;
  --tabs-height: 50px;

  --color-background: #e0e0e0;
  --color-tabs: #393939;
  --font-color-primary: #000;
  --font-color-secondary: #fff;

  --scrollbar: #606060;
}
