:root {
  --header-height: 80px;
  --tabs-height: 50px;

  --color-background: #e0e0e0;
  --color-sidebar: #fff;
  --color-task: #fff;
  --color-task-input: #f2f2f2;
  --color-tabs: #393939;

  --color-realistic: #3db59e;
  --color-realistic-dark: #3B9584;
  --color-pessimistic: #3d94b5;
  --color-pessimistic-dark: #3B7D95;
  --color-disabled: #c85d5d;

  --font-color-primary: #000;
  --font-color-secondary: #fff;

  --color-scrollbar: #60606050;

  --input-padding: 10px;
  --table-columns-padding: 2px;
  --table-gap: 1px;

  --table-columns-amount: 9;
  --table-columns: 1fr repeat(var(--table-columns-amount), auto);

  --table-columns-amount-overview: 9;
  --table-columns-overview: auto 1fr repeat(var(--table-columns-amount-overview), auto);


  // Widths for task table columns
  --width-risk: 150px;
  --width-role: 170px;
  --width-estimate: 100px;
  --width-hours: 45px;
  --width-price: 75px;
  --width-opt-out: 65px;
  --width-icon: 20px;

  // Widths for overview table columns
  --width-hours-overview: 65px;
  --width-price-overview: 95px;
  --width-status-overview: 120px;
  --width-responsible-overview: 180px;
  --width-insecurity-overview: 80px;
}
